<!DOCTYPE html>
<html lang="en">
<head><!---->

  <%- include('../partials/head'); %><!---->
</head><!----->
<body class="container"> <!--- making the template for head -->

<header> <!--- navigation bar partials-->
  <%- include('../partials/header'); %>
</header>

<!-- main tag for about me -->
<main>
    <div class="jumbotron"> <!-- grey box-->
      <h1>Simra Imran </h1>
      <div class=" box2"> <!--creating box for text-->
      <h2>I am a 3rd year IT Tech Management student here at Ontario Tech. This semester I am taking Web and Script Porgramming along with other courses
        I want to learn how to create interactive websites that are unique, aesthetic and easy to navigate through. I like interacting 
      with people which is why I switched from IT networking to Tech Management as it acts as a bridge to both worlds of Business and Tech</h2>
    </div>
      <div id="imgaboutme"> <!---about me image-->
        <img src="/images/aboutme.png" text-align="center">
          </div>

          <!--adding video about myselg-->

          <video controls="true" src="/videos/screen-capture.webm" controls muted autoplay loop preload="auto" width="600" height="400">
          </video>
    </div>
  </div>
</div>
</div>
 




<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>