<!DOCTYPE html>
<html lang="en">
<head>

<!--Creating Index page which is also home page -->
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %> <!--partials header -->
</header>

<main>
  <!--Grey box is jumbotron -->
  <div class="jumbotron">
    <div class=" box"> <!--making a box for index-->
    <h1>Hi welcome to my website </h1>
</main>

<footer>
  <%- include('../partials/footer'); %> <!---footers partial so it shows on all pages-->
</footer>

</body>
</html>