body {
    background-color: rgb(199, 199, 172);
}




#imgaboutme{
    width:50px; 
    background-color: aliceblue;
    border: 2px solid #FACFCE;
}

p{
    background-color: #A8B545
    width: 60%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 300px;
}

footer {
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

h1{
    margin-left: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color: black;
    font-size: 30px;
}

h2{
    font-size: 20px;
}

video{
    margin-left: 550px;
    margin-top:-400px ;
    width: 500px;
}   

.box{
    background-image: url(../images/background.jpg);
    opacity: 70%;
    padding: 100px;
    margin: 100px;
}

.box2{
    background-color:#CCEA8D; 
    padding: 50px;
    margin: 50px;
}

.box3{
    background-color:#CCEA8D; 
    padding: 50px;
    margin: 50px;
}

.box4{
    background-color: #C2C0A6; 
}


